body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    color: #3e3e3e;
    font-weight: normal;
    background-color: #fafafa;
}

/* Increasing default navbar height */
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

/* Adding shadow to navbar */
.navbar {
    border-radius: 0;
    -webkit-box-shadow: 0 0 10px 3px #999;
       -moz-box-shadow: 0 0 10px 3px #999;
            box-shadow: 0 0 10px 3px #999;
}

/* Removing default margin and padding */
.navbar-brand {
    padding: 0;
    margin: 0;
}

/* Larger logo workaround */
.navbar-brand>img {
    height: 60px;
    width: 216px;
    padding: 0;
    margin: 8px 0 0 8px;
}


/* Custom navbar color */
.navbar-default {
    background-color: #fff;
}

/* Changing default nav li color */
.nav.navbar-nav li a,
.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus {
    padding-top: 15px;
    color: #000;
}

/* Adding underline on hover */
.nav.navbar-nav li a:hover {
    border-bottom: 4px #2d517e solid;
}

/* Changing default nav li.active color */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #fff;
    border-bottom: 4px #2d517e solid;
}

.light-blue {
    color: #4c83d5;
}

.blue {
    font-weight: bold;
    font-size: 15px;
    color: #21538d;
}

.gray {
    color: #7f7e7e;
}

.black {
    font-size: 21px;
    color: #3e3e3e;
    font-weight: bold;
}

.table {
    border: 1px #cccccc solid;
    box-shadow: 0 0 10px 5px #ddd
}

thead {
    background-color: #256885;
    color: #fff;
}

.table > thead > tr > th {
    text-align: left;
    padding-left: 30px;
    font-weight: normal;
}

.table > tbody > tr > td {
    text-align: left;
    padding-left: 30px;
    vertical-align: middle;
}

.ribbon {
    background-image: url("../img/ribbon.png");
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 2px;
    width: 160px;
    height: 36px;
}

.price {
    font-size: 22px;
    font-weight: bold;
    color: #ee111c;
}

.price::before {
    content: "$";
}

.rating {
    font-size: 22px;
}

.btn-danger {
    background-color: #ed0b20;
    height: 38px;
    line-height: 26px;
    width: 118px;
    font-size: 20px;
}

.collapsible-link {
    font-weight: bold;
}

.collapse {
    padding-bottom: 10px;
}

.disclaimer {
    font-style: italic;
}

.collapsible-link {
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 25px;
    background-color: #fff;
    border-top: 1px solid #eee;
}