/* Increasing default navbar height */
.navbar-brand,
.navbar-nav li a {
    line-height: 80px;
    height: 80px;
    padding-top: 0;
}

/* Adding shadow to navbar */
.navbar {
    border-radius: 0;
    -webkit-box-shadow: 0 0 10px 3px #999;
       -moz-box-shadow: 0 0 10px 3px #999;
            box-shadow: 0 0 10px 3px #999;
}

/* Removing default margin and padding */
.navbar-brand {
    padding: 0;
    margin: 0;
}

/* Larger logo workaround */
.navbar-brand>img {
    height: 60px;
    width: 216px;
    padding: 0;
    margin: 8px 0 0 8px;
}

/* Changing default nav li color */
.nav.navbar-nav li a,
.nav.navbar-nav li a:hover,
.nav.navbar-nav li a:focus {
    padding-top: 15px;
    color: #000;
}

/* Adding underline on hover */
.nav.navbar-nav li a:hover {
    border-bottom: 4px #2d517e solid;
}

/* Changing default nav li.active color */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #fff;
    border-bottom: 4px #2d517e solid;
}

.blue {
    color: #4c83d5;
}

.features {
    text-align: left;
}

.table {
    border: 1px #cccccc solid;
    box-shadow: 0 0 10px 5px #ddd
}

thead {
    background-color: #256885;
    color: #fff;
}

thead th {
    text-align: center;
    font-weight: normal;
}

td {
    text-align: center;
}

.disclaimer {
    font-style: italic;
}

.collapsible-link {
    cursor: pointer;
}

footer {
    text-align: center;
}